<% @sos_hands.each do |sos_hand| %>
  <div class="card-database">
    <%= link_to sos_hand, sos_hand_path(sos_hand) %>
    <%= link_to "Edit", edit_sos_hand_path(sos_hand) %>
    <%= link_to "x", sos_hand_path(sos_hand), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet élément ?"} %>
  </div>
<% end %>