<h1 class="pdf-title">
  Feuille d'émargement
</h1>
<div class="flexbox mt-3">
  <div class="flex-div-50 pdf-title">
    Nom de l'agent
  </div>
  <div class="flex-div-50 pdf-title">
    Signature
  </div>
  <div class="border-right"></div>
</div>