<h1 class="pdf-title">
  Feuille d'émargement
</h1>
<div class="flexbox mt-3">
  <table>
    <thead>
      <tr>
        <th>Nom de l'agent</th>
        <th>Signature</th>
      </tr>
    </thead>
    <tbody>
      <% 29.times do |n| %>
        <tr>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>