<footer class="footer-container border-top">
  <div class='mt-3 footer-text'>
    Ce document a été produit avec l'application Obras
  </div>
  <div class='footer-pages'>
    <span class="page"></span> / <span class="topage"></span>
  </div>
</footer>