<% if @ppsp.content_secu.present? %>
  <p>Voir le texte complémentaire de sécurité</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn-blue" data-toggle="modal" data-target="#modalContentSecu">
    Voir
  </button>

  <!-- Modal -->
  <div class="modal fade" id="modalContentSecu" tabindex="-1" role="dialog" aria-labelledby="modalContentSecuLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalContentSecuLabel">Préambule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= @ppsp.content_secu.html_safe %>
        </div>
      </div>
    </div>
  </div>
  <p>Vous pouvez modifier votre texte en cliquant sur <span class="time-emphasis">Editeur de texte</span> </p>
<% else %>
  <p>Vous pouvez cliquer sur <span class="time-emphasis">Editeur de texte</span> pour ajouter des spécifités</p>
<% end %>

<button type="button" class="btn-orange" data-toggle="modal" data-target="#modalTiny">
  Editeur de texte
</button>
<div class="modal fade" id="modalTiny" tabindex="-1" role="dialog" aria-labelledby="modalTinyLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTinyLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-tiny-body">
        <div id='tinymce-form'>
          <input class='hidden' name=image type=file id="upload" onchange="">
          <%= f.text_area :content_secu, class: 'tinymce', 'data-ppsp_secu': @ppsp.content_secu %>
          <%= tinymce %>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn-blue" data-dismiss="modal">Valider</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>