<% if params[:action] != 'create' && @ppsp.logo_client.attached? && @ppsp.logo_client.persisted? %>
  <div id="oldLogo">
    <div class="logo">
      <%= cl_image_tag @ppsp.logo_client.key, class: 'icon-logo mb-3' %>
    </div>
    <%= link_to "Supprimer", destroy_logo_client_ppsp_path(@ppsp), class: 'btn-delete', id: 'btn-destroy-logo', remote: true %>
  </div>
<% end %>