// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$orange: #ff7e67;
$orange-light: #ffc5bb77;
$orange-shadow: #ff7e6780;
$orange-dark: #e66d58;
$blue-dark: #006a71;
$blue-dark-shadow: #00697177;
$blue-light: #68b0ab;
$gray-light: #ecf4f3;
