// Specific CSS for your home-page
.container-home-page {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-banner {
  min-height: 70vh;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    asset-url('home-background.jpg');
  .wave {
    height: 10vh;
    width: 100%;
    background-image: asset-url('wave.png');
    animation: animate 60s linear infinite;
  }
  .container-banner {
    margin: 30px 10%;
    .banner-txt {
      color: white;
      h1 {
        font-size: 80px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 1em;
      }
      h2 {
        font-size: 24px;
        text-align: left;
      }
    }
    .btn-orange {
      width: fit-content;
      font-size: 16px;
    }
    .btn-orange-ext {
      position: absolute;
      top: 20px;
      right: 20px;
      width: fit-content;
      font-size: 16px;
    }
  }
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 4000px;
  }
}

.container-form-home {
  margin: 20%;
  border-radius: 16px;
  padding: 16px 32px;
  background-color: white;
  z-index: 1;
}

@media(max-width: 991px) {
  .container-form-home {
    margin: 10%;
    border-radius: 16px;
    padding: 16px 32px;
    background-color: white;
  }
}

.home-container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  flex-grow: 2;
}

.home-card {
  width: 400px;
  .desc {
    font-size: 16px;
    text-align: center;
  }
  .container-media {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
  }
}

.separator {
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 50%;
  background-color: black;
}

@media (max-width: 700px) {
  .home-banner {
    h1 {
      font-size: 32px;
    }
    .btn-orange-ext {
      top: 5px;
      right: 5px;
    }
  }
}

.home-media {
  height: 800px;
  width: 100%;
  object-fit: scale-down;
}
