<div class="container-header-form">
  <label class="select required" for="ppsp_work_medecine_id">Médecine du travail <abbr title="required">*</abbr></label>
  <% if policy(WorkMedecine).create? %>
    <button type="button" class="btn-round btn-fill" data-toggle="modal" data-target="#ModalWorkMedecine" id="MedecineDb">
      <i class="fas fa-plus"></i>
    </button>
  <% end %>
</div>
<select class="form-control select required" name="ppsp[work_medecine_id]" id="ppsp_work_medecine_id">
  <option value=""></option>
  <% @work_medecines.each do |work| %>
    <%= "<option value=#{work.id}>#{work.address} - #{work.phone}</option>".html_safe %>
  <% end %>
</select>
