<button type="button" class="icon-btn add-btn" data-toggle="modal" data-target=<%= "#Modal#{data}" %> id=<%= "#{data}Db" %>>
  <div class="add-icon"></div>
  <div class="btn-txt">Ajouter</div>
</button>