<% @ppsp.annexes.each do |annexe| %>
  <div class="container-annexe" id=<%= annexe.key %>>
    <%= cl_image_tag(annexe.key + '.jpg', width: 200, height: 300, class: "mx-4") %>
    <%= link_to "Supprimer", destroy_annexe_ppsp_path(public_id: annexe.key), class: 'btn-delete', remote: true %>
  </div>
<% end %>