<footer class="footer-container">
  <div class='mt-3 footer-text'>
    Ce document a été produit avec l'application Obras
  </div>
  <span class="page"></span> / <span class="topage"></span>
</footer>