<%= link_to "Créer un nouveau PPSP", new_ppsp_path %>

<h1>Mes anciens PPSP</h1>
<% @ppsps.each do |ppsp| %>
  <div class="card-ppsp">
    <%= link_to ppsp, ppsp_path(ppsp) %>
    <%= link_to "x", ppsp_path(ppsp), method: :delete  %>
    <%= link_to "edit", edit_ppsp_path(ppsp)  %>
  </div>
<% end %>