<div class="container">
  <%= link_to "Créer un nouveau PPSP", new_ppsp_path, class: 'btn-blue' %>
    <% if policy(Page).database? %>
      <%= link_to "Modifier les bases de données", database_path, class: 'btn-orange' %>
    <% end %>
  <h1 class='ppsp-title'><%= "Les PPSP de #{current_user.company.name}" %></h1>
  <div id="root" data-current=<%= current_user.id%>></div>
</div>

