<div class="pdf-text-container">
  <h1 class="pdf-title mb-2">
    III. Disposition en matière de secours et d'évacuation
  </h1>
  <h2 class="pdf-subtitle">
    3.<%= @num_security %> Liste des SST
    <% @num_security += 1 %>
  </h2>
  <% @lifesavers.each do |lifesaver| %>
    <div>
      <%= "#{lifesaver.first_name} #{lifesaver.last_name}" %>
    </div>
  <% end %>
</div>