<h2 class="pdf-subtitle mb-2">
  2.<%= @num_worksite %> Plan d'installation
  <% @num_worksite += 1 %> 
</h2>
<%= cl_image_tag(@ppsp.worksite.plan_installation.key + '.jpg', crop: "scale", width: 750) %>