<% @company.kit_security_elements.each do |kit| %>
  <li>
    <%= "#{kit.number} #{kit.name}" %>
    <%= link_to 'x', kit_security_element_path(kit), method: :delete, data: {confirm: 'Êtes-vous sûr ?'}, class: 'ml-1', remote: true %>
  </li>
<% end %>