<div class="form-group select required ppsp_hospital_id">
  <div class="d-flex align-items-start">
    <label class="select required" for="ppsp_hospital_id">Hôpital le plus proche<abbr title="required">*</abbr></label>
    <% if policy(Hospital).new? %>
      <button type="button" class="btn-round btn-fill" data-toggle="modal" data-target="#ModalHospital">
        <i class="fas fa-plus"></i>
      </button>
    <% end %>
  </div>
  <select class="form-control select required" name="ppsp[hospital_id]" id="ppsp_hospital_id">
    <option value=""></option>
    <% @database.each do |hospital| %>
      <%= "<option value=#{hospital.id}>#{hospital.name}</option>".html_safe %>
    <% end %>
  </select>
</div>