.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: #ffb0a2;
  border-radius: 8px;
  padding: 4px;
  border: solid 1px #ff7e67;
}

.text-alert {
  color: $orange;
  font-style: italic;
  font-size: 14px;
}

.text-alert-black {
  color: black;
  font-style: italic;
  font-size: 14px;
}

.notice {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 2px;
}

.notice-ok {
  background-color: rgb(78, 146, 78);
  color: white;
  padding-right: 4rem;
}

.alert-red {
  background-color: #F3DBDB;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  color: $red;
  position: relative;
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.alert-cross {
  position: absolute;
  top: 0;
  right: 3px;
}
