.btn-blue {
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  background-color: $blue-light;
  &:hover {
    background-color: $blue-dark;
    text-decoration: none;
    color: white
  }
}

.btn-orange {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: $orange;
  color: black;
  &:hover {
    background-color: $orange-dark;
    text-decoration: none;
    color: black;
  }
}

.btn-add {
  background-color: $orange;
  height: 20px;
  width: 20px;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  font-weight: 900;
  &:hover {
    background-color: $orange-dark;
  }
}

.link {
  color: $orange;
  &:hover{
    color: $orange-dark
  }
}