$btn-add-size: 24px;

.btn-blue {
  padding: 4px 8px;
  border-radius: 8px;
  color: white;
  background-color: $blue-light;
  border: none;
  &:hover {
    background-color: $blue-dark;
    text-decoration: none;
    color: white;
  }
}

.btn-blue-ext {
  padding: 4px 8px;
  border-radius: 8px;
  border: $blue solid 0.5px;
  color: black;
  &:hover {
    border: $blue-dark solid 0.5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

.btn-orange {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: $orange-soft;
  color: black;
  border: none;
  &:hover {
    background-color: $orange;
    text-decoration: none;
    color: black;
  }
}

// Button with animated border
.btn-orange-animated {
  a {
    position: relative;
    background-color: $orange-soft;
    text-decoration: none;
    /*   border: 2px solid #f00; */
    text-align: center;
    display: inline-block;
    color: #262626;
    padding: 8px 16px;
  }

  a:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    /*   width: 100%;
    height: 100%; */
    width: 0;
    height: 0;
    background: transparent;
    /*   border: 2px solid #262626; */
    border: 2px solid transparent;
  }

  a:hover:before {
    animation: animate-border 0.5s linear forwards;
  }

  a:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    /*   width: 100%;
    height: 100%; */
    width: 0;
    height: 0;
    background: transparent;
    /*   border: 2px solid #262626; */
    border: 2px solid transparent;
  }

  a:hover:after {
    animation: animate-border-2 0.5s linear forwards;
    animation-delay: 0.5s;
  }
}

@keyframes animate-border {
  0% {
    width: 0;
    height: 0;
    /*     border: 2px solid transparent; */
    border-top-color: $orange-dark;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    /*     border: 2px solid $orange-dark; */
    border-top-color: $orange-dark;
    border-right-color: $orange-dark;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    /*     border: 2px solid #262626; */
    border-top-color: $orange-dark;
    border-right-color: $orange-dark;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

/*****************************/

@keyframes animate-border-2 {
  0% {
    width: 0;
    height: 0;
    /*     border: 2px solid transparent; */
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: $orange-dark;
  }
  50% {
    width: 0;
    height: 100%;
    /*     border: 2px solid #262626; */
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: $orange-dark;
    border-left-color: $orange-dark;
  }
  100% {
    width: 100%;
    height: 100%;
    /*     border: 2px solid $orange-dark; */
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: $orange-dark;
    border-left-color: $orange-dark;
  }
}

.btn-orange-right {
  padding: 8px 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: $orange;
  color: black;
  border: none;
  &:hover {
    background-color: $orange-dark;
    text-decoration: none;
    color: black;
  }
}

.btn-orange-ext {
  padding: 4px 8px;
  border-radius: 8px;
  border: $orange solid 0.5px;
  color: black;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  &:hover {
    border: $orange-dark solid 0.5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

.icon-btn {
  outline: none;
  border: none;
  margin-left: $btn-add-size/2;
  margin-right: $btn-add-size/5;
  width: $btn-add-size;
  height: $btn-add-size;
  background: transparent;
  border-radius: $btn-add-size / 2;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  border: 1px solid $orange;
  background-color: white;
}
.add-btn:hover {
  width: $btn-add-size * 2.5;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 2px;
  width: 9px;
  top: calc(50% - 1px);
  background: $orange;
}
.add-btn::after {
  right: 7px;
  overflow: hidden;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.add-btn::before {
  left: 7px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  font-size: 10px;
  transition: opacity 0.2s;
  color: $orange;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 2px;
  border-radius: 1px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 10px;
  width: 1px;
  top: calc(50% - 5px);
  background: $orange;
  overflow: hidden;
}
.add-icon::before {
  left: 10px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
.add-icon::after {
  right: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.add-btn:hover .add-icon::before {
  left: 7px;
  height: 2px;
  top: calc(50% - 1px);
}
.add-btn:hover .add-icon::after {
  right: 7px;
  height: 2px;
  top: calc(50% - 1px);
}


.btn-round {
  cursor: pointer;
  position: relative;
  border: 0.1px solid $orange;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $btn-add-size;
  height: $btn-add-size;
  margin-left: $btn-add-size/2;
  margin-right: $btn-add-size/5;
  border-radius: $btn-add-size * 0.5;
  overflow: hidden;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease;
    border-radius: $btn-add-size * 0.5;
  }
  i {
    position: relative;
    color: rgb(59, 59, 59);
    font-size: $btn-add-size/2;
    transition: all 0.25s ease;
  }
}

.btn-fill {
  &::before {
    transition-duration: 0.5s;
    box-shadow: inset 0 0 0 1px $orange;
  }
  &:hover::before {
    box-shadow: inset 0 0 0 $btn-add-size $orange;
  }
}

.link {
  color: $orange;
  &:hover {
    color: $orange-dark;
  }
}

.link-db {
  margin-bottom: 10px;
  a {
    color: $orange;
    &:hover {
      color: $orange-dark;
    }
  }
}

#btn-mes-infos {
  text-align: center;
  border-radius: 50%;
  border: solid 1px black;
  padding: 6px;
  box-shadow: 1px 1px 2px 2px $blue-shadow;
  min-width: 50px;
  .btn-num {
    font-weight: 800;
    margin-bottom: -8px;
  }
  .btn-text {
    margin-bottom: -4px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 4px 4px $blue-shadow;
  }
}

@media(max-width: 700px) {
  #btn-mes-infos {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}