.without-decoration:hover {
  text-decoration: none;
}

.card-ppsp {
  z-index: -1;
  width: 300px;
  min-height: 180px;
  padding: 10px;
  color: black;
  margin: 6px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  box-shadow: 1px 1px 2px 2px $blue-light;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px $blue-dark;
  }

  .card-ppsp-reference {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
  }
  
  .card-ppsp-body {
    font-size: 14px;
  }

  .card-ppsp-footer {
    font-style: italic;
    font-size: 12px;
  }
  
  .card-ppsp-delete {
    position: relative;
    float: right;
    border: none;
    font-size: 18px;
    color: $blue-dark;
    font-weight: 700;
    margin-left: 6px;
    &:hover{
      color: black;
      text-decoration: none;
    }
  }
  
  .card-ppsp-edit {
    z-index: 9999;
    position: relative;
    float: right;
    border: none;
    font-size: 18px;
    color: $blue-dark;
    font-weight: 700;
    &:hover{
      color: black;
      text-decoration: none;
    }
  }
}



.card-info {
  box-shadow:  2px 3px 10px 2px $blue-dark-shadow;
  padding: 8px;
  border-radius: 8px;
  .card-info-title{
    font-size: 20px;
    font-weight: 500;
  }
  .card-info-selected {
    display: flex;
  }
  .card-info-delete {
    float: right;
    border: none;
    color: $blue-dark;
    margin-left: 6px;
    &:hover{
      color: black;
      text-decoration: none;
    }
  }
}

.card-form {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid $blue-dark;
  margin: 4px;
  &:hover {
    cursor: pointer;
  }
}

.active {
  background-color: $blue-dark-shadow;
}