.without-decoration:hover {
  text-decoration: none;
}

.card-ppsp {
  width: 300px;
  min-height: 180px;
  padding: 10px;
  color: black;
  margin: 6px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 2px 2px $blue-shadow;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px $blue-light;
  }
  .card-ppsp-reference {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
  }
  .card-ppsp-body {
    font-size: 14px;
  }
  .card-ppsp-footer {
    font-style: italic;
    font-size: 12px;
  }
  .card-ppsp-delete {
    position: relative;
    float: right;
    border: none;
    font-size: 18px;
    color: $blue-dark;
    font-weight: 700;
    margin-left: 6px;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  .card-ppsp-edit {
    position: relative;
    float: right;
    border: none;
    font-size: 18px;
    color: $blue-dark;
    font-weight: 700;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  .card-ppsp-link {
    color: $blue-dark;
    &:hover {
      color: black;
    }
  }
}

.card-info {
  box-shadow: 2px 3px 10px 2px $blue-dark-shadow;
  padding: 8px;
  border-radius: 8px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 330px;
  .card-info-title {
    font-size: 20px;
    font-weight: 500;
  }
  .card-info-selected {
    display: flex;
    align-items: center;
  }
  .card-info-delete a {
    float: right;
    border: none;
    color: $blue-dark;
    margin-left: 6px;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.card-form {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid $blue-dark;
  margin: 4px;
  &:hover {
    cursor: pointer;
  }
}

.card-profile {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 3em;
  min-height: 120px;
  .card-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info-profile {
      display: flex;
      align-items: center;
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
  .card-profile-stat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 1019px) {
  .card-database {
    width: 300px;
    padding: 4px;
    color: black;
    margin: 6px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 1px 1px 2px 2px $blue-shadow;
    .card-db-delete {
      border: none;
      font-size: 18px;
      color: $blue-dark;
      font-weight: 700;
      margin-left: 6px;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    .card-db-edit {
      border: none;
      font-size: 18px;
      color: $blue-dark;
      font-weight: 700;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }

    .card-db-action {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 5px;
      right: 5px;
    }

    #spacer {
      width: 20px;
      height: 25px;
      float: right;
    }
  }
}

@media (min-width: 1019px) {
  .card-database {
    width: 100%;
    padding: 4px;
    color: black;
    margin: 6px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px 2px $blue-shadow;
    .card-db-delete {
      border: none;
      font-size: 18px;
      color: $blue-dark;
      font-weight: 700;
      margin-left: 6px;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    .card-db-edit {
      border: none;
      font-size: 18px;
      color: $blue-dark;
      font-weight: 700;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    .card-db-action {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
    }

    .db-element {
      margin-left: 4px;
      margin-right: 4px;
    }

    .word-break {
      word-break: break-all;
    }
  }
}

.card-selec-db {
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 4px 30px 0px rgb(230, 230, 230);
  padding: 10px 20px;
  align-items: center;
  border-radius: 16px;
  color: $orange;
  &:hover {
    color: $orange-dark;
    text-decoration: none;
    box-shadow: 0 4px 30px 0px $orange-light;
  }
  img {
    margin-right: 8px;
  }
  p {
    margin-bottom: 0;
    font-size: 18px;
  }
  .infos-popup {
    position: absolute;
    top: 5px;
    right: 10px;
    color: gray;
    font-size: 14px;
  }
}

.active {
  background-color: $blue-dark-shadow;
}

.card-edit {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

@media (max-width: 992px) {
  .card-edit {
    position: static;
  }
}
