.container-ppsp {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  justify-content: center;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}