.container-ppsp {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  justify-content: center;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.container-installations {
  width: 100%;
}

.container-header-form {
  display: flex;
  align-items: start;
}

.container-pagination {
  display:flex;
  justify-content: center;
}

.container-db-vide {
  display: flex;
  justify-content: center;
}

@media(max-width: 1019px) {
  .flex-database {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: center;
  }
}

@media(min-width: 1019px) {
  .flex-database {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: center;
  }
}