.icon-home {
  font-size: 32px;
  color: #ff495f;
  &:hover {
    color: #ec4558;
  }
}

@media(min-width: 701px) {
  .icon-home {
    width: 218px;
  }
}

@media(max-width: 700px) {
  .icon-home {
    width: 45px;
  }
}

#loading {
  background-image: url('gif-loading.gif');
  height: 150px;
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#not-loading {
  height: 150px;
}

.icon-logo {
  height: 150px;
  width: 150px;
}

