.icon-home {
  font-size: 32px;
  color: #FF495F;
  &:hover {
    color: #ec4558;
  }
}

#loading {
  background-image: url('gif-loading.gif');
  height: 150px;
  width: 200px;
  margin: auto;
}

#not-loading {
  height: 150px;
}