.navbar-ppsp {
  justify-content: space-between;
  background-color: $gray-light;
  margin-bottom: 20px;
  border-bottom: solid 0.5px #cfcfcf;
  // Utile pour décaler un peu le texte et le centrer par rapport à la flexbox de la navbar
  // comme il y a plusieurs éléments parfois celui du centre n'est pas totalement centré
  .navbar-text {
  position: relative;
  left: 5%;
  transform: translateX(-5%);
    .navbar-company {
      font-weight: 700;
      font-size: 20px;
      text-align: center;
    }
    .navbar-user {
      font-weight: 400;
      font-size: 14px;
      text-align: center;
    }
  }
}

.navbar-ppsp .navbar-collapse {
  flex-grow: 0;
}

.navbar-ppsp .navbar-brand img {
  width: 40px;
}