h1 {
  font-size: 28px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-bottom: 0.5em;
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center !important;
  width: 100%;
}
