<form action=<%= contact_path %>>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" required="true" class="form-control" id="name" name="name" placeholder="Jean-Michel Test"/>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" required="true" class="form-control" id="email" name="email" placeholder="JeanMichel-test@gmail.com"/>
  </div>
  <div class="form-group">
    <label for="description">Raisons</label>
    <textarea class="form-control" required="true" rows="3" id="description" name="description" placeholder="Faciliter la rédaction de PPSPS au sein de mon entreprise de BTP" ></textarea>
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn-orange">Envoyer mail</button>
  </div>
</form>