<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Une nouvelle demande a été effectuée</title>
  </head>
  <body>
    <div>
      <p>Name : <%= @contact[:name] %></p>
      <p>Email : <%= @contact[:email] %></p>
      <p>Raisons de la demande : <%= @contact[:description] %></p>
    </div>
  </body>
</html>