<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bienvenue sur Obras</title>
  </head>
  <body>
    <div>
      <p>Bonjour <%= "#{@resource.first_name}" %></p>
      <p>Pour changer le mot de passe merci de cliquer sur le lien suivant : <%=link_to "renouveller mon mot de passe", edit_user_password_url(reset_password_token: @token), html_options = { style: "font-weight: bold" } %>.</p>
      <p>Vous avez 6 heures pour rénover le mot de passe. Si une erreur se produit, merci d'envoyer un mail à <a href="mailto:support@example.com">support@example.com</a>. Notre équipe support sera heureuse de vous aider.</p>
      <p>Merci!</p>
    </div>
  </body>
</html>